.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
/.vercel

# android twa build files

.gradle/
android.keystore
twa/app/build

*.apk
*.apk.idsig
*.aab

# playwright
test-results